@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Oswald:wght@200..700&display=swap');
body {
      font-family: 'Poppins', sans-serif;
    }

  @keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-zoomIn {
  animation: zoomIn 0.4s ease forwards;
}